* {
    margin: 0;
    padding: 0;

}

:root {
    /*Colors*/

    --primary-color-purple: #24053E;
    --primary-color-grey: #584D62;
    --primary-color-green: #44FFA1;
    --primary-color-ghost-white: #FCF8FF;
    --primary-color-white: #FFFFFF;

    /*Fonts*/

    --font-family-francues: 'Fraunces', serif;
    --font-family-manrope: 'Manrope', sans-serif;

    --font-size-normal: 1rem;
    --font-size-body: 1.125rem;
    --font-size-S: 2rem;
    --font-size-M: 3.5rem;
    --font-size-L: 5rem;

    /*--mobile-width-desktop: 767px;
    --mobile-width-tablet: 514px;
    --mobile-width-mobile: 320px;*/
}

header,
main,
footer {
    text-align: center;
    padding: 5% 10%;
}

/*Headings*/
.heading-L,
.heading-M,
.heading-S {
    font-family: var(--font-family-francues);
}

.heading-L {
    font-size: var(--font-size-L);
    line-height: 80px;
}

.heading-M {
    font-size: var(--font-size-M);
    line-height: 64px;
}

.heading-S {
    font-size: var(--font-size-S);
    line-height: 40px;
}

/* Fonts*/
.font-normal {
    font-size: var(--font-size-normal);
}

.font-body {
    font-size: var(--font-size-body);
}

.font-S {
    font-size: var(--font-size-S);
}

.font-M {
    font-size: var(--font-size-M);
}

.font-L {
    font-size: var(--font-size-L);
}

/* Navbar CSS*/

ul {
    font-size: var(--font-size-body);
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

ul a {
    color: var(--primary-color-white);

}

ul a:hover {
    color: var(--primary-color-green);
}

header {
    background-color: var(--primary-color-purple);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2324053e' fill-opacity='0.52' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    border-bottom-left-radius: 100% 75px;
    border-bottom-right-radius: 100% 75px;
    height: 90vh;

}

.main-heading {
    color: var(--primary-color-white);
    max-width: 635px;
    min-width: 300px;
    width: 80%;
    margin: 10% auto 5% auto;
}

.underlined {
    text-decoration-line: underline;
    text-decoration-color: var(--primary-color-green);
    text-underline-offset: 7px;
    ;
}

header button {
    padding: 2%;
    max-height: 10%;
    min-height: 55px;
    min-width: 133px;
    width: 10%;
    background-color: var(--primary-color-green);
    border-radius: 6%;
    font-family: var(--font-family-francues);
    border: solid var(--primary-color-green);
}

button:hover {
    color: var(--primary-color-green);
    border: solid var(--primary-color-green);
    background-color: var(--primary-color-purple);
}

.phone-image {
    width: 767px;
    min-width: 300px;
    max-width: 80%;
}

@media only screen and (max-width: 770px) {
    .heading-L {
        font-size: 2.5rem !important;
        width: fit-content;
        line-height: 50px !important;
    }

    header,
    main,
    footer {
        padding: 6% 5%;
        ;
    }
}






























/*Background */

.home-page {
    z-index: 0;
    display: grid;
    grid-template-rows: 14vh max-content 18vh;
}

.home-page::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 83vh;
    background-color: #24053e;
    border-bottom-left-radius: 100% 75px;
    border-bottom-right-radius: 100% 75px;
}